<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="customerRepository" class="com.example.repository.HibernateCustomerRepositoryImplem"/>
	<bean name="customerService" class="com.example.service.CustomerServiceImplem">
		<property name="custRepos" ref="customerRepository" />
	</bean>
	
	<bean name="customerService2" class="com.example.service.CustomerServiceImplem" autowire="byType" scope="singleton"> 
		<!-- autowire="constructor" or autowire="byName" would also work -->
		<!--  <constructor-arg index="0" ref="customerRepository"/>  -->
	</bean>	
	
</beans>
